{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center mb-3">
  <div class="col-md-20 text-center">
    <h1 id="hometext" class="font-weight-bold">Get In Touch!</h1>
    <b>Mobile</b>: <a href="tel:+420739942385">+420 739 942 385</a><br>
    <b>Email</b>: <a href = "mailto: martinczarkowski@gmail.com">martinczarkowski@gmail.com</a><br>
    <b>Web</b>: <a href = "https://martinczarkowski.pythonanywhere.com/">www.martinczarkowski.com</a><br>
    <b>Address</b>: 639-00 Brno, Czech republic
    <br>
    
    <a href = "https://www.linkedin.com/in/martin-czarkowski-4252828b/" target="_blank">LinkedIn</a>
    <a href = "https://github.com/martinczarkowski" target="_blank">GitHub</a>

  </div>
</div>

{% if message %}

<div class="row justify-content-center mb-3">
  <div class="col-md-20 text-center">
    <div class="alert alert-success" role="alert">
      <h1>Thanks for your message</h1> I will reply as soon as possible!
    </div>
  </div>
</div>
{% else %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
        {% endif %}
            <div class="col-md-15 text-center">
              <h2>Write me a message</h5>
            </div>
            <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="subject" class="form-control" id="subject" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="email" name="from_email" class="form-control" id="from_email" placeholder="Your Email">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" id="message" rows="5" placeholder="Your Message"></textarea >
            </div>
            <div class="col-md-15 text-center">
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
